---
import Layout from "../layouts/Layout.astro";

import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GithubIcon from "../components/icons/Github.astro";
import GmailIcon from "../components/icons/Gmail.astro";

import Badge from "../components/Badge.astro";
import SocialBadge from "../components/SocialBadge.astro";
import ExpStudies from "../components/ExpStudies.astro";
import Projects from "../components/Projects.astro";
import ExpStudiesIcon from "../components/icons/ExpStudiesIcon.astro";
import ProjectIcon from "../components/icons/ProjectIcon.astro";
import UserIcon from "../components/icons/UserIcon.astro";

import { getI18n } from "../I18n";

const { currentLocale } = Astro
const i18n = getI18n({ currentLocale }) as { [key: string]: string };

---

<Layout
	title={i18n.PAGE_TITLE}
	description={i18n.PAGE_DESCRIPTION}
>
	<main class="px-4">
		<section id="inicio" class="w-full mx-auto lg:w-[740px] py-44">
			<img
				class="rounded-full size-14 mb-4"
				src="https://media.licdn.com/dms/image/D4D03AQELuOTzPR8gkQ/profile-displayphoto-shrink_200_200/0/1694444689623?e=1712188800&v=beta&t=SBJ-AzK2T8PNOdHiZmnIXDH4I34qcHSPd2VHKtfXyqg"
				alt="Foto Jon"
			/>
			<h1
				class="text-white text-2xl md:text-3xl lg:text-4xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-8"
			>
          
            {i18n.INT_TILE}
				<Badge
					href="https://www.linkedin.com/in/jon-gorostegui-martinez-a0571a247/"
				>
                {i18n.INT_BADGE}
				</Badge>
			</h1>

			<h3
				class="text-xl lg:text-2xl text-balance max-w-[700px] text-white pb-6 lg:pb-8"
			>
            
            {i18n.INT_SUBTILE}
			</h3>

			<nav class="flex flex-wrap gap-4 mt-8">
				<SocialBadge
					href="https://www.linkedin.com/in/jon-gorostegui-martinez/"
				>
					<LinkedInIcon class="w-6 h-6" />
					LinkedIn
				</SocialBadge>
				<SocialBadge href="https://github.com/Gorosss">
					<GithubIcon class="w-6 h-6" />
					Github
				</SocialBadge>
				<SocialBadge href="mailto:jongorostegui@gmail.com">
					<GmailIcon class="w-6 h-6" />
					jongorostegui@gmail.com
				</SocialBadge>
			</nav>
		</section>
		<section
			id="experienciaEstudios"
			class="w-full mx-auto lg:w-[740px] py-15"
		>
			<h2 class="text-3xl font-semibold mb-10 flex gap-x-2 items-center">
				<ExpStudiesIcon class="size-6" />
				{i18n.EXPANDESTU_TITLE}
			</h2>
			<ExpStudies />
		</section>

		<section id="proyectos" class="w-full mx-auto lg:w-[740px] py-20">
			<h2 class="text-3xl font-semibold mb-10 flex gap-x-2 items-center">
				<ProjectIcon class="size-6" />
				{i18n.PRO_TITLE}
			</h2>
			<Projects />
		</section>

		<section id="sobre_mi" class="w-full mx-auto lg:w-[740px] py-20">
			<h2 class="text-3xl font-semibold mb-10 flex gap-x-2 items-center">
				<UserIcon class="size-6" />
				{i18n.ABUOTME_TITLE}
			</h2>
			<div class="[&>p]:mb-4 text-pretty">
				<p>
					{i18n.ABOUTME_P1}
				</p>
				<p>
					{i18n.ABOUTME_P2}
				</p>
			</div>
		</section>
	</main>
</Layout>
