---
const PROJECTS = [
    {
        title: 'SummonerData.gg',
        description: 'Aplicación diseñada para proporcionar a los jugadores de League of Legends información valiosa y en tiempo real sobre los jugadores, permitiéndoles acceder fácilmente a datos clave relacionados con su historial de partidas, maestrías con los campeones y estadísticas en vivo.',
        image: '/projects/summonerDataImage.webp',
        link: 'https://summoner-data.vercel.app/',
        github: 'https://github.com/Gorosss/summonerData',
        tags: ['React', 'Bootstrap']
    },
    {
        title: 'Project 2',
        description: 'This is a description of project 2',
        image: 'https://via.placeholder.com/150',
        link: 'https://www.google.com',
        github: 'https://www.github.com',
        tags: ['React', 'Bootstrap']
    }
]
---


{
    PROJECTS.map(({title, description , image , link , tags}) => {
        return (
            <article>
                <h2 class="text-2xl bold pb-2">{title}</h2>
                <p class="mb-4 text-base font-normal text-gray-400 dark:text-gray-300 text-pretty">{description}</p>

                {
                    tags && (
                        <ul>
                            {tags.map(
                                tag => <li>{tag}</li>)
                            
                        }
                        </ul>
                    )
                }
                <img class="rounded-lg shadow-xl shadow-white/5" src={image} alt="project image" />
                <a href={link} rel="noopener noreferrer">SummonerData.gg</a>
            </article>
        )
    })
}
